<meta name="viewport" content="width=device-width, initial-scale=1.0">

<button class="hamburger-menu" aria-label="Abrir Menu">
    <i class="fa-solid fa-bars"></i>
</button>
<div class="logo">
    <a href="index.html">
        <img src="https://cdn.bitrix24.com.br/b30384271/landing/2ca/2ca44e330d952f0a685b85873fe7cc33/22_1x_1x.png" alt="Logo da Empresa" />
    </a>
</div>

<!-- Menu aninhado -->
<div data-include="components/menu-top/"></div>

<div class="contact-icon">
    <a href="https://wa.me/5519999549787?text=Ol%C3%A1,%20vim%20pelo%20site!" aria-label="Contato" target="_blank">
        <i class="fa-solid fa-phone-volume"></i>
    </a>
</div>